In [35]:
import pandas as pd
import  numpy  as  np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import seaborn as sns
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE
from pandas_ml import ConfusionMatrix
from scipy.fftpack import fft

In [36]:
raw_data_file_name= "Fourier_Based_Prediction/qixroq6.json"
raw_data = pd.read_json(raw_data_file_name)
raw_data.head(5)

  anomaly       lat        lon           time
0       A  6.765363  79.948124  1538098834294
1       N  6.765363  79.948124  1538098834379
2       N  6.765363  79.948124  1538098834482
3       N  6.765305  79.948123  1538098834599
4       N  6.765305  79.948123  1538098834700

In [37]:
raw_data = raw_data[raw_data.anomaly != 'N']
raw_data.shape

(6691, 4)

In [38]:
raw_data['sum'] =  raw_data.lat.astype(str) + raw_data.lon.astype(str)
raw_data = raw_data.drop_duplicates(subset='sum', keep="first")
raw_data.shape

(2245, 5)

In [39]:
raw_data_file_name= "Fourier_Based_Prediction/gfysqe.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(4490, 5)

In [40]:
raw_data_file_name= "Fourier_Based_Prediction/Bandaragama_Road_Weralugas_Junction.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(7719, 5)

In [41]:
raw_data_file_name= "Fourier_Based_Prediction/Kesbewa_Kosgashandiya_Road_Weralugas_Junction_2.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(10810, 5)

In [42]:
raw_data_file_name= "Fourier_Based_Prediction/BekkegamaRoadEluwila.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(12215, 5)

In [43]:
raw_data_file_name= "Fourier_Based_Prediction/Kesbewa_Kosgashandiya_Road_Weralugas_Junction.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(15044, 5)

In [44]:
raw_data_file_name= "Fourier_Based_Prediction/Salon_my_style_piliyandala_Piliyandala_Kottawa_Road.json"
test_data = pd.read_json(raw_data_file_name)
test_data = test_data[test_data.anomaly != 'N']
test_data['sum'] =  test_data.lat.astype(str) + test_data.lon.astype(str)
test_data = test_data.drop_duplicates(subset='sum', keep="first")
raw_data = raw_data.append(test_data, ignore_index=True)
raw_data.shape

(18569, 5)

In [45]:
raw_data['anomaly'].describe()

count     18569
unique        1
top           A
freq      18569
Name: anomaly, dtype: object

In [46]:
raw_data = raw_data[raw_data.anomaly != 'N']
raw_data.shape

(18569, 5)

In [47]:
raw_data.head()

  anomaly       lat        lon           time                            sum
0       A  6.765363  79.948124  1538098834294            6.765362579.9481239
1       A  6.762061  79.947951  1538098868239  6.762061380000000579.94795058
2       A  6.760512  79.947796  1538098885524          6.7605118179.94779643
3       A  6.760431  79.947789  1538098886640             6.760430979.947789
4       A  6.760327  79.947779  1538098887639          6.7603271579.94777885

In [48]:
features = ['anomaly', 'lat', 'lon']
raw_data = raw_data[features]
raw_data.head()

  anomaly       lat        lon
0       A  6.765363  79.948124
1       A  6.762061  79.947951
2       A  6.760512  79.947796
3       A  6.760431  79.947789
4       A  6.760327  79.947779

In [49]:
raw_data['anomaly'].describe()

count     18569
unique        1
top           A
freq      18569
Name: anomaly, dtype: object

In [50]:
raw_data.to_json("Data_to_Clustered/dilum_sir_route_without_duplications_Fourier.json", orient='records')